#main{  
    width: 100%;  
    //border: 1px solid #000;  
    text-align: center;
	 margin: 0 auto;
	     padding-left: 20px;
    padding-top: 20px;
	   
}

/*
form{background: #ddd;width:400px;}
form div{padding: 10px 20px;}
 
.text, textarea, .dropdown{
    border:1px solid #777;
    padding: 5px;
    color: #999;
    background: #fff;
    border-radius: 5px;
     
    
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#eee),
        to(#fff)
        );
     
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #fff;
     
    
    background: -moz-linear-gradient(
        top,
        #eee,
        #fff
        );
     
    -moz-border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #fff;
     
    
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffeeeeee,endColorstr=#ffffffff);
    zoom: 1;
}
     
.submit{
    border:1px solid #777;
    padding: 4px 10px;
    color: #fff;
    cursor: pointer;
    background: #428ec9;
    border-radius: 5px;
     
    
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#99c9e5),
        to(#428ec9)
        );
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #fff;
         
    
    background: -moz-linear-gradient(
        top,
        #99c9e5,
        #428ec9
        );
    -moz-border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #fff;
     
    
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ff99c9e5,endColorstr=#ff428ec9);
    zoom: 1;
}
     
.checkbox,.radio{
    z-index: -1;
    position: absolute;
}
.CheckBoxLabelClass{
	background: url("http://www.webcreatorbox.com/sample/images/checkbox.png") no-repeat top left;
	margin-right:20px;
	padding-left:22px;
}
 
.radiolabel{
	background: url("http://www.webcreatorbox.com/sample/images/radio.png") no-repeat top left;
	margin-right:20px;
	padding-left:22px;
}

.LabelSelected,.RadioSelected{
	background-position: bottom left;
}
*/


/*----------20110929 kiyo ----------------*/
body{
	background-image:none;
}

#container{
	width:1070px;
	margin:0 auto;
}

#header{
	background:url(../img/kentei_public_answers/titleBack.png) repeat top left;
	margin:0;
	height:24px;
	padding:8px;
}

#status img{
	vertical-align:text-bottom;
}

#sub{
	float:right;
}

#view{
	width:1000px;
	height:479px;
	background:url(../img/kentei_public_answers/chalkboard.png) no-repeat center center;
	margin:0 auto;
}

#pane{
	position:relative;
	margin:0 auto;
	width:908px;
	height:580px;
	padding:36px 40px;
	color:#fff;
}

#pane h3{
	margin-top:0;
}


#footer{
	background-color:#ccdd44;
	position:relative;
	z-index:10;
	padding:8px;
	font-size:14px;
	height:auto;
}

#footer p, #notice p{
	max-width:none;
}

#notice{
	font-size:14px;
}

#footer a, #notice a{
	color:#666;
}

span.bold{
	font-weight:bold;
}

span.hand{
	font-family:"Reenie Beanie", cursive;
	font-size:42px;
	line-height:24px;
	letter-spacing:2px;
	vertical-align:bottom;
}

span.hand img{
	vertical-align:middle;
}

form{
	position:relative;
	background:url(../img/kentei_public_answers/postit.png) no-repeat left center;
	/*width:411px;
	height:281px;*/
	width:640px;
	height:161px;
	padding:60px;
	margin:30px 0 0 48px;
}

form div.input{
	font-family:"Reenie Beanie", cursive;
	width:120px;
	height:48px;
	vertical-align:bottom;
	margin:0;
	padding:0;
	color:#333
}

form label{
	position:relative;
	height:14px;
	margin-top:-24px;
}

form input:not([type=submit]), form input[type=email]{
	display:block;
	width:280px;
	height:18px;
	background-color:rgba(192,192,192,0.3);
	border:none;
	border-bottom:dashed 1px #333;
	color:#333;
	margin:0;
	padding:0;
}

form input[type=submit]{
	background:url(../img/kentei_public_answers/signupsend.png) no-repeat center center;
	display:block;
	position:absolute;
	right:0px;
	top:100px;
	border:none;
	width:323px;
	height:73px;
}

form input[type=submit]:hover{
	background:url(../img/kentei_public_answers/signupsendh.png) no-repeat center center;
}

/* バリデーション */
.error {
	min-width:60px;
    background-color:#FC0;
    padding:4px;    
    color:#000;
    -webkit-box-shadow: #000 0 0 12px; 
    -moz-box-shadow: #000 0 0 12px;         
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -o-border-radius: 5px; 
    -khtml-border-radius: 5px; 
	z-index:9999;
}

/* バリデーションバルーン矢印 */
.error em {
    border:10px solid;
    border-color:#fc0 transparent transparent;
    bottom:-17px;
    display:block;
    height:0;
    left:10px;
    position:absolute;
    width:0;        
}

.error p {
	margin:4px 0;
}